<h1>Invoice Detail</h1>

<p><strong>Invoice number  </strong><%= @invoice.id %></p>
<p><strong>Issue date </strong><%= @invoice.issue_date %></p>
<p><strong>Amount </strong><%= @invoice.amount %></p>
<p><strong>Vendor name </strong><%= @invoice.vendor_name %></p>